body{
    background:rgb(165, 170, 170);
}
.inputpropiedades{
    display: flex;
    flex-direction: column;
    margin: 3pc 3pc;
    
}
.inputpropiedades .labelregistro{
    text-align: center;
    font-size: 2.5pc;
    margin-bottom: 1pc;
}
.container{
    display: flex;
    flex-direction: column;
}
.container .sort{
    display: flex;
    margin: 1pc 1pc 1pc 1pc;
}
.condicion-estado{
    display: flex;

}
.input-group-appen{
    display: flex;
    margin: 1pc 1pc 1pc 0;
}
.inputpropiedadesTotal{
    margin: 10%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4), rgba(255,255,255,0.2));
    border-radius: 2.3rem;
    backdrop-filter: blur(2rem);
}
.input-group-deleat{
    display: flex;
}